<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="Temiang" type="Temiang.Dal.Interfaces.esConfigSettings, Temiang.Dal.Core">
			<section name="connectionInfo" type="Temiang.Dal.Interfaces.esConfigSettings, Temiang.Dal.Interfaces" allowLocation="true" allowDefinition="Everywhere" restartOnExternalChanges="true" />
		</sectionGroup>
	</configSections>

	<Temiang>
		<connectionInfo default="RSI_LIVE">
			<connections>
				<add name="LocalHN" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="Temiang.Dal.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=.;Initial Catalog=RSYS;uid=sa;pwd=p455w0rd.;Connect Timeout=120;Min Pool Size=20" databaseVersion="2014" />
				<add name="WYNAKOM_LIS_INTEROP" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="Temiang.Dal.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=26.56.76.15;Initial Catalog=WYNAKOM_LIS_INTEROP;uid=avicenna;pwd=Sciadmin88;" databaseVersion="2014" />
				<!--<add name="WYNAKOM_LIS_INTEROP" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="Temiang.Dal.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=.;Initial Catalog=WYNAKOM_LIS_INTEROP;uid=sa;pwd=p455w0rd.;Connect Timeout=120;Min Pool Size=20" databaseVersion="2014"/>-->
				<add name="RSI_LIVE" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="Temiang.Dal.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=26.56.76.15;Initial Catalog=RSI;uid=avicenna;pwd=Sciadmin88;Connect Timeout=480;Min Pool Size=20;Application Name=localdev" databaseVersion="2014" />
			</connections>
		</connectionInfo>
	</Temiang>
	<appSettings>



	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
