@foreach (var edm in (EDCMachineCollection)ViewBag.EDCColl)
{
    <div class="float-left">
        <input type="radio" name="rbEdm" value="@edm.EDCMachineID" id="@edm.EDCMachineID" ) />
        <label id="lbledm_@edm.EDCMachineID" class="form-check-label" for="@edm.EDCMachineID">@edm.EDCMachineName</label><text>&nbsp; &nbsp;</text>
    </div>
}

