    <div class="form-group row mx-0 my-0">
        <label class="col-sm-4 px-0 py-0">Card Provider</label>
        <div class="col-8 px-0 py-0" id="divCardProvider">
            @foreach (var cp in (AppStandardReferenceItemCollection)ViewBag.StdRef_CardProvider)
            {
                <div class="float-left">
                    <input type="radio" name="rbCardProvider" value="@cp.ItemID" id="cp_@cp.ItemID") />
                    <label id="lblcp_@cp.ItemID" class="form-check-label" for="cp_@cp.ItemID">@cp.ItemName</label><text>&nbsp; &nbsp;</text>
                </div>
            }
        </div>
    </div>
    <div class="form-group row mx-0 my-0">
        <label class="col-sm-4 px-0 py-0">Card Type</label>
        <div class="col-8 px-0 py-0" id="divCardType">
            @foreach (var ct in (AppStandardReferenceItemCollection)ViewBag.StdRef_CardType)
            {
                <div class="float-left">
                    <input type="radio" name="rbCardType" value="@ct.ItemID" id="ct_@ct.ItemID" ) />
                    <label id="lblct_@ct.ItemID" class="form-check-label" for="ct_@ct.ItemID">@ct.ItemName</label><text>&nbsp; &nbsp;</text>
                </div>
            }
        </div>
    </div>
    <div class="form-group row mx-0 my-0">
        <label class="col-sm-4 px-0 py-0">Card No</label>
        <div class="col-8 px-0 py-0">
            <input type="text" class="form-control" id="txtCardNoEntry" />
        </div>
    </div>
    <div class="form-group row mx-0 my-0">
        <label class="col-sm-4 px-0 py-0">EDC Machine</label>
        <div class="col-8 px-0 py-0" id="divEDM">
            
        </div>
    </div>

