
<div class="row">

    <div class="col-12 text-right border border-top-0 border-left-0 border-right-0">
        <div style="float:left;">
            <button type="button" class="btn btn-outline-info" onclick="BarberJohnsonGraph();">Barber Johnson Graph</button>
        </div>
        <div style="float:right;">
            <button type="button" class="btn btn-outline-info" onclick="PrevChart16_02();"><i class="fas fa-angle-left"></i></button><button type="button" class="btn btn-outline-info" onclick="CreateCharts16_02();"><i class="fas fa-sync"></i></button><button type="button" class="btn btn-outline-info" onclick="NextChart16_02();"><i class="fas fa-angle-right"></i></button>
        </div>
        <div style="float:right;margin-left:5px;margin-right:5px;"><h4><span id="spanTitleChart16_02">Title</span></h4></div>
    </div>
</div>
<div class="row">
    @{
        var appPrgChart = ((AppProgramCollection)ViewBag.AppLink).Where(a => a.ParentProgramID.Equals("16.02"));
        foreach (var appChart in appPrgChart)
        {
            @*<div class="col-sm-12 col-md-6 col-lg-4 text-center">*@
            <div class="@(string.IsNullOrEmpty(appChart.AssemblyClassName) ? "col-sm-12 col-md-6 col-lg-4 text-center" : appChart.AssemblyClassName)">
                @(appChart.ProgramName)
                <canvas id="chart@(appChart.ProgramID.Replace(".", "_"))"></canvas>
                <div id="divLoadingChart@(appChart.ProgramID.Replace(".", "_"))" style="display:none;">
                    <h3><i class='fas fa-radiation fa-lg fa-spin'></i> Loading...</h3>
                </div>
            </div>
        }
    }
</div>

<script type="text/javascript">
    var dateChart16_02;

    $(document).ready(function () {
        var d = new Date();
        //console.log(d);

        dateChart16_02 = new Date(d.getFullYear(), d.getMonth(), 1);
        //console.log(dateChart);

        CreateCharts16_02();
    });

    function BarberJohnsonGraph() {

    }

    function PrevChart16_02() {
        dateChart16_02.setMonth(dateChart16_02.getMonth() - 1);
        CreateCharts16_02();
    }
    function NextChart16_02() {
        dateChart16_02.setMonth(dateChart16_02.getMonth() + 1);
        CreateCharts16_02();
    }

    function CreateCharts16_02() {
        $('#spanTitleChart16_02').html('&nbsp;' + months[dateChart16_02.getMonth()] + ' ' + dateChart16_02.getFullYear());

        @{
            var starter = "@";
            foreach (var appChart in appPrgChart)
            {
                starter = starter.Replace("@",
                    string.Format("{1}{3}Chart{0}(@);{4}{2}",
                        appChart.ProgramID.Replace(".", "_"),
                        starter.Length == 1 ? "" : "function(){",
                        starter.Length == 1 ? "" : "}",
                        "try{", "}catch{}"));
            }
            starter = starter.Replace("@", "");
                @:@starter
        }
    }

    var cfg16_02_01 = null;
    var obj16_02_01 = null;
    function Chart16_02_01(fnCallBack) {
        $('#chart16_02_01').hide();
        var divLoading = $('#divLoadingChart16_02_01');
        CoreAHrefLoadingOn(divLoading);
        divLoading.show();
        $.ajax({
            type: 'POST',
            url: BaseURL + "/Home/ChartHI",
            data: {
                Year: dateChart16_02.getFullYear()
            },
            success: function (data) {
                $('#chart16_02_01').show();
                divLoading.hide();
                if (data.status == _sJsonRequestOkStatus) {
                    //console.log(data.data);
                    if (obj16_02_01 == null) {
                        var ctx16_02_01 = $('#chart16_02_01');
                        cfg16_02_01 = {
                            type: 'line',
                            data: data.data,
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                },
                                tooltips: {
                                    callbacks: {
                                        label: (tooltipItems, data) => {
                                            var unit = '';
                                            switch (data.datasets[tooltipItems.datasetIndex].label) {
                                                case 'Bor': { unit = '%'; break; }
                                                case 'Los': { unit = 'hari'; break; }
                                                case 'Bto': { unit = 'kali'; break; }
                                                case 'Toi': { unit = 'hari'; break; }
                                                case 'Ndr': { unit = 'per mil'; break; }
                                                case 'Gdr': { unit = 'per mil'; break; }
                                            }
                                            return data.datasets[tooltipItems.datasetIndex].label + ': ' + data.datasets[tooltipItems.datasetIndex].data[tooltipItems.index] + ' ' + unit;
                                        }
                                    },
                                }
                            }
                        };
                        obj16_02_01 = new Chart(ctx16_02_01, cfg16_02_01);
                    } else {
                        cfg16_02_01.data = data.data;
                        obj16_02_01.update();
                        //console.log(dcConfig);
                    }
                } else {
                    ShowError(data.data);
                }

                if (!CoreIsNullOrEmpty(fnCallBack)) {
                    fnCallBack();
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                ShowError(xhr.responseText);
            },
            dataType: 'json'
        });
    }

    var cfg16_02_02 = null;
    var obj16_02_02 = null;
    function Chart16_02_02(fnCallBack) {
        $('#chart16_02_02').hide();
        var divLoading = $('#divLoadingChart16_02_02');
        CoreAHrefLoadingOn(divLoading);
        divLoading.show();
        $.ajax({
            type: 'POST',
            url: BaseURL + "/Home/ChartTop10Diagnosis",
            data: {
                Year: dateChart16_02.getFullYear(),
                Month: (dateChart16_02.getMonth() + 1),
                SRRegType: "IPR"
            },
            success: function (data) {
                $('#chart16_02_02').show();
                divLoading.hide();
                if (data.status == _sJsonRequestOkStatus) {

                    if (obj16_02_02 == null) {
                        var ctx16_02_02 = $('#chart16_02_02');
                        cfg16_02_02 = {
                            type: 'horizontalBar',
                            data: data.data,
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }, legend: {
                                    display: false
                                }
                            }
                        };
                        obj16_02_02 = new Chart(ctx16_02_02, cfg16_02_02);
                    } else {
                        cfg16_02_02.data = data.data;
                        obj16_02_02.update();
                        //console.log(dcConfig);
                    }
                } else {
                    ShowError(data.data);
                }

                if (!CoreIsNullOrEmpty(fnCallBack)) {
                    fnCallBack();
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                ShowError(xhr.responseText);
            },
            dataType: 'json'
        });
    }

    var cfg16_02_03 = null;
    var obj16_02_03 = null;
    function Chart16_02_03(fnCallBack) {
        $('#chart16_02_03').hide();
        var divLoading = $('#divLoadingChart16_02_03');
        CoreAHrefLoadingOn(divLoading);
        divLoading.show();
        $.ajax({
            type: 'POST',
            url: BaseURL + "/Home/ChartKunjungan",
            data: {
                Year: dateChart16_02.getFullYear()
            },
            success: function (data) {
                $('#chart16_02_03').show();
                divLoading.hide();
                if (data.status == _sJsonRequestOkStatus) {

                    if (obj16_02_03 == null) {
                        var ctx16_02_03 = $('#chart16_02_03');
                        cfg16_02_03 = {
                            type: 'bar',
                            data: data.data,
                            options: {
                                responsive: true,
                                scales: {
                                    xAxes: [{
                                        stacked: true,
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }],
                                    yAxes: [{
                                        stacked: true
                                    }]
                                }
                            }
                        };
                        obj16_02_03 = new Chart(ctx16_02_03, cfg16_02_03);
                    } else {
                        cfg16_02_03.data = data.data;
                        obj16_02_03.update();
                        //console.log(dcConfig);
                    }
                } else {
                    ShowError(data.data);
                }

                if (!CoreIsNullOrEmpty(fnCallBack)) {
                    fnCallBack();
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                ShowError(xhr.responseText);
            },
            dataType: 'json'
        });
    }

    var cfg16_02_04 = null;
    var obj16_02_04 = null;
    function Chart16_02_04(fnCallBack) {
        //alert("yyy");
        $('#chart16_02_04').hide();
        var divLoading = $('#divLoadingChart16_02_04');
        CoreAHrefLoadingOn(divLoading);
        divLoading.show();
        $.ajax({
            type: 'POST',
            url: BaseURL + "/Home/ChartTop10Diagnosis",
            data: {
                Year: dateChart16_02.getFullYear(),
                Month: (dateChart16_02.getMonth() + 1),
                SRRegType: "OPR"
            },
            success: function (data) {
                $('#chart16_02_04').show();
                divLoading.hide();
                if (data.status == _sJsonRequestOkStatus) {

                    if (obj16_02_04 == null) {
                        var ctx16_02_04 = $('#chart16_02_04');
                        cfg16_02_04 = {
                            type: 'horizontalBar',
                            data: data.data,
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }, legend: {
                                    display: false
                                }
                            }
                        };
                        obj16_02_04 = new Chart(ctx16_02_04, cfg16_02_04);
                    } else {
                        cfg16_02_04.data = data.data;
                        obj16_02_04.update();
                        //console.log(dcConfig);
                    }
                } else {
                    ShowError(data.data);
                }

                if (!CoreIsNullOrEmpty(fnCallBack)) {
                    fnCallBack();
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                ShowError(xhr.responseText);
            },
            dataType: 'json'
        });
    }

</script>