<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="Temiang" type="Temiang.Dal.Interfaces.esConfigSettings, Temiang.Dal.Core">
			<section name="connectionInfo" type="Temiang.Dal.Interfaces.esConfigSettings, Temiang.Dal.Interfaces" allowLocation="true" allowDefinition="Everywhere" restartOnExternalChanges="true" />
		</sectionGroup>
		<sectionGroup name="Application" type="Temiang.Avicenna.Common.ApplicationSettings, Temiang.Avicenna.Common">
			<section name="applicationInfo" type="Temiang.Avicenna.Common.ApplicationSettings, Temiang.Avicenna.Common" allowLocation="true" allowDefinition="Everywhere" restartOnExternalChanges="true" />
		</sectionGroup>
	</configSections>
	<Temiang>
		<connectionInfo default="RSRG_LIVE">
			<connections>
				<add name="LocalHN" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="Temiang.Dal.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=.;Initial Catalog=RSYS;uid=sa;pwd=p455w0rd.;Connect Timeout=120;Min Pool Size=20" databaseVersion="2014"/>
				<add name="LocalNR" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="Temiang.Dal.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=SCI\SCI;Initial Catalog=RSSTJ_LIVE;uid=sa;pwd=123;Connect Timeout=120;Min Pool Size=20" databaseVersion="2014"/>

				<add name="RSBK_LIVE" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="Temiang.Dal.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=26.48.4.16;Initial Catalog=RSBK;uid=avicenna;pwd=Sciadmin88;Connect Timeout=480;Min Pool Size=20;Application Name=localdev" databaseVersion="2014"/>
				<add name="RSI_LIVE" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="Temiang.Dal.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=26.56.76.15;Initial Catalog=RSI;uid=avicenna;pwd=Sciadmin88;Connect Timeout=480;Min Pool Size=20;Application Name=localdev" databaseVersion="2014" />
				<add name="ARSANI_LIVE" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="Temiang.Dal.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=192.168.1.107;Initial Catalog=RSRM_TEST;uid=avicenna;pwd=Sciadmin88;" databaseVersion="2008" />
				<add name="RSYS_LIVE2" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="Temiang.Dal.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=WIN-J7SMK29D2BA;Initial Catalog=RSYS;uid=avicenna;pwd=Sciadmin88;Application Name=dev" databaseVersion="2008" />
				<add name="RSRG_LIVE" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="Temiang.Dal.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=26.241.88.182;Initial Catalog=RSRG_LIVE;uid=avicenna;pwd=Sciadmin88;Connect Timeout=480;Min Pool Size=20" databaseVersion="2014" />
				<add name="RSI_LOCAL_HAN" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="Temiang.Dal.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=HAN-AVB\MSSQL2019;Initial Catalog=RSI;uid=sa;pwd=p455w0rd.;Connect Timeout=120;Min Pool Size=20" databaseVersion="2014" />
				<add name="localDK" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="Temiang.Dal.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=192.168.0.10\SQL2019;Initial Catalog=RSPP_HIS;uid=sa;pwd=-tr41=Nin@4JJ;Connect Timeout=120;Min Pool Size=20" databaseVersion="2014" />
				<add name="LocalBT" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="Temiang.Dal.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=.\MSSQL2022;Initial Catalog=RSI;uid=sa;pwd=123;Connect Timeout=60;Min Pool Size=20" databaseVersion="2014" />
				<add name="LocalIM" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="Temiang.Dal.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=.;Initial Catalog=RSMMP_LIVE;uid=sa;pwd=123;Connect Timeout=120;Min Pool Size=20" databaseVersion="2014" />
				<add name="RSMM_LOCAL" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="Temiang.Dal.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=HAN-AVB\MSSQL2019;Initial Catalog=RSMM_LIVE;uid=sa;pwd=p455w0rd.;Connect Timeout=120;Min Pool Size=20" databaseVersion="2014" />
				<add name="RSSMCB" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="Temiang.Dal.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=DESKTOP-2H84I1S\MSSQL14;Initial Catalog=RSSMCB_LIVE;uid=sa;pwd=p455w0rd.;Connect Timeout=120;Min Pool Size=20" databaseVersion="2014" />
				<add name="RSMM_TRAIN" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="Temiang.Dal.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=128.129.130.26;Initial Catalog=RSMM_TRAIN;uid=avicenna;pwd=Sciadmin88;Connect Timeout=120;Min Pool Size=20" databaseVersion="2014" />
				<add name="RSMM_LIVE" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="Temiang.Dal.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=128.129.130.26;Initial Catalog=RSMM_LIVE;uid=avicenna;pwd=Sciadmin88;Connect Timeout=120;Min Pool Size=20" databaseVersion="2014" />
				<add name="LocalFJ" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="Temiang.Dal.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=.\PROJECTSQL;Initial Catalog=RSYS;uid=sa;pwd=123;Connect Timeout=120;Min Pool Size=20" databaseVersion="2014"/>
				<add name="RSYS_SDKI" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="Temiang.Dal.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=192.168.0.19;Initial Catalog=RSYS_SDKI;uid=avicenna;pwd=Sciadmin88;Application Name=dev" databaseVersion="2008" />
				<add name="RSYS_LIVE" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="Temiang.Dal.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=192.168.0.19;Initial Catalog=RSYS;uid=avicenna;pwd=Sciadmin88;Application Name=dev" databaseVersion="2008" />

			</connections>
		</connectionInfo>
	</Temiang>
	<appSettings />
	<connectionStrings />
	<!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.6.1" />
		<!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
		<authentication mode="Windows" />
		<!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
		<pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
		<webServices>
			<protocols>
				<add name="HttpGet" />
				<add name="HttpPost" />
			</protocols>
		</webServices>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="WindowsBase" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>