/* HTML */
html {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

/* BODY */
body {
    color: #000000;
    margin: 0px;
    font-family: Tahoma, Arial;
    font-size: 11px;
}

/* FORM */
form {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.menuarea {
    background-color: #000000;
    color: Orange;
    font-size: small;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.menuareanomenu {
    background-color: #000000;
    color: Orange;
    font-size: small;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.menuarea .menuareanomenu a:hover {
    color: #ffffff;
}

/* OTHER TAGS */
.popupbutton {
    background-image: url(Images/Toolbar/MenuBar_Refresh.png);
}

.programcaption {
    height: 52px;
    width: 100%;
    background-color: #181818;
    color: Orange;
    font-size: small;
}

.contentkiosk {
    padding-top: 48px;
    position: relative;
}

.programcaption a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.toolbar {
    position: fixed;
    top: 73px;
    width: 100%;
    z-index: 98;
}

.mainmenu {
    width: 100%;
}

.header {
    width: 100%;
}

.contentlist {
    padding-top: 105px;
    position: relative;
}

.contentcustom {
    padding-top: 73px;
    position: relative;
}

.contententry {
    width: 100%;
    overflow: auto;
}

.contentdetail {
    padding-top: 74px;
    position: relative;
}

.contentsubdetail {
    top: 32px;
    position: relative;
    z-index: 96;
}


/* TABLE */
table, td {
    font-size: 100%;
}

    td.header {
        height: 24px;
        padding-left: 10px;
        background-color: ButtonFace;
        color: ButtonText;
        text-align: left;
    }

    td.label {
        width: 150px;
        padding-left: 10px;
        background-color: ButtonFace;
        color: ButtonText;
        text-align: left;
        height: 24px;
    }


    td.labellong {
        width: 200px;
        padding-left: 10px;
        background-color: ButtonFace;
        color: ButtonText;
        text-align: left;
    }

    td.filter {
        width: 100px;
        padding-left: 10px;
    }

    td.filterdate {
        padding-left: 0px;
    }

    td.entry {
        width: 375px;
        padding-left: 0px;
    }

    td.entry300 {
        width: 300px;
        padding-left: 0px;
    }

    td.entry2Column {
        width: 200px;
        padding-left: 0px;
    }

    td.entrydescription {
        padding-left: 0px;
    }

.labeldescription {
    font: 12px arial,sans-serif;
}

.description {
    font: 12px arial,sans-serif;
}

.footerinclude {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    color: #cccccc;
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    height: 31px;
    display: block;
    background-color: #181818;
}

.footer_copyright {
    float: right;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

a:link, a:visited, a:active {
    color: #0054a6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer_links a:link, .footer_links a:visited {
    margin-top: 10px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    color: #cccccc;
    font-weight: bold;
    text-decoration: none;
    display: block;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.footer_links a:hover {
    color: #ffffff;
    text-decoration: underline;
}

td.labelcaption {
    font-weight: bold;
    height: 24px;
    background-color: ButtonFace;
    color: ButtonText;
    text-align: center;
}

.divcaption {
    width: 100%;
    font-weight: bold;
    height: 24px;
    background-color: ButtonFace;
    color: ButtonText;
    text-align: center;
    padding-top: 6px;
}

td.entryshort {
    width: 100px;
    padding-left: 0px;
}

td.entryempty {
    padding-left: 0px;
}

td.searchfilter {
    padding-left: 10px;
    font: 12px arial,sans-serif;
}

/* Panel Expand Collapse */
.cpHeader {
    cursor: hand;
    cursor: pointer;
    font: bold 11px Verdana;
    height: 24px;
    background-color: #a8a8a8;
    vertical-align: middle;
}

.cpOpen {
    color: Black;
}

.cpClosed {
    color: white;
}

.cpContent {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.panelcaption {
    height: 24px;
    width: 100%;
    background-color: #181818;
    color: Orange;
    font-size: small;
}
/* End Panel Expand Collapse */

.RadScheduler_WebBlue .rsTopWrap {
    height: 500px;
}

/* Notification */
.noti_Container {
    position: relative; /*border:1px solid blue;*/ /* This is just to show you where the container ends */
    cursor: pointer;
    background: transparent url('../../Images/stickynote16.png') no-repeat 2px 50%;
    padding: 0 0 0 16px;
}

.noti2_Container {
    position: relative; /*border:1px solid blue;*/ /* This is just to show you where the container ends */
    cursor: pointer;
    background: transparent url('../../Images/todolist16.png') no-repeat 2px 50%;
    padding: 0 0 0 16px;
}

.noti_bubble {
    position: absolute;
    top: -5px;
    right: -6px;
    padding-right: 2px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 0.80em;
    border-radius: 2px;
    box-shadow: 1px 1px 1px gray;
}

.noti_ContainerInfo {
    position: relative; /*border:1px solid blue;*/ /* This is just to show you where the container ends */
    cursor: pointer;
    background: transparent url('../../Images/infored16.png') no-repeat 2px 50%;
    padding: 0 0 0 16px;
}
/* End Of Notification */


div.RadScheduler .rsHeader {
    z-index: 97;
}

div.RadComboBox .rcbDisabled, div.RadComboBox .rcbDisabled .rcbInputCell .rcbInput {
    color: #800000;
}

/* CSS Table */
#table {
    display: table;
}

.table {
    display: table;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
}
/* End CSS Table */

/* CSS Table */
#table {
    display: table;
}

.table {
    display: table;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
}
/* End CSS Table */


/* RadComboBox ClientItemTemplate*/
.rcbTemplate {
    padding: 10px 10px 10px 10px !important;
    border: 0 !important;
    border-bottom: 1px solid #cccccc !important;
    *zoom: 1;
}

    .rcbTemplate:after {
        content: "";
        height: 0;
        clear: both;
        display: block;
    }


    .rcbTemplate .details {
        margin: 0;
        padding: 0;
        list-style: none;
    }


    .rcbTemplate .bold {
        font-weight: bold;
    }

    .rcbTemplate .small {
        font-size: small;
    }

    .rcbTemplate .smaller {
        font-size: smaller;
    }
/* RadComboBox ClientItemTemplate */


/* RadSiteMap*/
.rsmColumn > .rsmItem {
    border-radius: 10px;
    overflow: hidden;
    margin: 2px 10px 8px;
    width: 300px;
    font-family: Tahoma;
}

html .RadSiteMap .rsmItem .rsmItem {
    padding-left: 10px;
}

.rsmHeader {
    margin: 0;
    padding: 0px 5px;
    color: cornflowerblue;
    font-size: 0.8rem;
    font-family: Tahoma;
    font-weight:bold;
}

.RadSiteMap .rsmTemplate {
    padding: 0;
}

.RadSiteMap .rsmLevel1 {
    margin: -1px 0 7px;
    padding: 0px 0;
    line-height: 10px;
}

.RadSiteMap .rsmTwoLevels .rsmLevel1 .rsmItem {
    list-style: disc inside none;
}

/*Main menu*/

.mainMenu .rmRootGroup .rmRootLink {
    padding: 4px 0px;
    line-height: 30px;
    height: 30px;
}

    .mainMenu .rmRootGroup .rmRootLink .rmToggle {
        height: 30px;
    }

